.App {
  text-align: center;
}
body {
  background-color: #223850;
  overflow-x: hidden; 
  /* Hide scrollbars */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body::-webkit-scrollbar{
  width: 0.6rem;
}
body::-webkit-scrollbar-track{
  background: rgb(54, 54, 54);
}
body::-webkit-scrollbar-thumb{
background: rgb(194, 193, 193);
border-radius:100px;

}

:root{
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Open sans';
}
.image-gallery {
  width: 100%;
  height: auto;
}
.image-gallery-slide img {
  width: 85%;
  height: auto;
}
.image-gallery-thumbnail{
  margin-top: 80vh;
  margin-left: 10%;
}

.navbarImg{
  position: fixed;
  width: 4rem;
  height: 4rem;
}
.navbar-nav{
list-style: none;
padding:0;
margin: 0;
display: flex;
position: relative;
}
.blackBoard {
  margin-top:3%;
  position: fixed;
  display: block;
  width: auto;
  height: auto;
  max-width:85%;
  max-height:85%;
  
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.blackBoardPhoneOne {
  z-index: 1;
  margin-left: 7.5%;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width:85%;
  max-height:85%;
  transform:translate(-0%, 25%);
}
.blackBoardPhoneTwo {
  z-index: 1;
  margin-top:24%;
  margin-left: 7.5%;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width:85%;
  max-height:85%;
}
.blackBoardPhoneThree {
  z-index: 1;
  margin-top:3%;
  margin-left: 7.5%;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width:85%;
  max-height:85%;
}
.backBoardPhoneOne {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.backBoardPhoneTwo {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.backBoardPhoneThree {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.backBoard {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width:100%;
  max-height:100%;
  
}
.TextboxBackboard {
  position: fixed;
  display: block;
  border-radius:20px;
  float: left;
  width: auto;
  height: auto;
  top:50%;
  transform:translate(-0%, -50%);
  max-width: 47.5%;
  margin-top: 2.5%;
  
}
.TextboxBlackboard {
  position: fixed;
  display: block;
  float: left;
  width: auto;
  height: auto;
  top:50%;
  transform:translate(-0%, -50%);
  max-width: 42.5%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  
}
.Navbar{
  position: fixed; 
  z-index: 7;
  background-color:#A8D2C8;
  width:101%;
  border-color: #A8D2C8;
  height: 4.1rem;
  box-shadow: black 0px .2rem .4rem .5rem;
}
.navLogo{
  margin-left:10px ;
}
.NavbarButtons{
  position: sticky; 
  align-content: center;
  background-color: #A8D2C8;
  cursor: pointer; 
  display: inline-block;
}
.link{
  position: relative;
  text-decoration: none;
  text-overflow:ellipsis;
  display: flex;
}
.link:visited { text-decoration: none; color: #000;}
.link:hover { text-decoration: none; }
.link:focus { text-decoration: none; }
.link:hover, .link:active { text-decoration: none; }

li{
  display: inline-block
}
.imgLeft{
  position: fixed;
  display: block;
  border-radius:20px;
  background: white;
  float: left;
  margin-left: 2%;
  width: auto;
  height: auto;
  top:50%;
  transform:translate(-0%, -50%);
  max-width: 47.5%;
  margin-top: 2.5%;

}
.textboxLeft{
  border-radius:20px;
  display: block;
  float: left;
  width:47.5%; 
  padding-bottom:47.5%;
  top:50%;
  margin-left: 2%;
  height: 0;
  max-width: 47.5%;
  max-height: 47.5%;
  margin-top: 5%;
  
}
.textboxLeftBottom{
  border-radius:20px;
  display: block;
  float: left;
  width:47.5%; 
  margin-top: 5%;
  margin-left: 2%;
  padding-bottom:47.5%;
  top:50%;
  height: 0;
  max-width: 47.5%;
  max-height: 47.5%;
}
.imgRightBottom{
  position: fixed;
  display: block;
  border-radius:20px;
  background: white;
  float: right;
  width: auto;
  margin-right: 2%;
  height: auto;
  top:50%;
  transform:translate(-0%, -50%);
  max-width: 47.5%;
  margin-top: 2.5%;
}
.textboxRight{
  border-radius:20px;
  display: block;
  float: right;
  width:47.5%; 
  margin-right: 2%;
  padding-bottom:47.5%;
  top:50%;
  height: 0;
  max-width: 47.5%;
  max-height: 47.5%;
  margin-top: 5%;
}
.imgRight{
  position: fixed;
  display: block;
  border-radius:20px;
  background: white;
  float: right;
  margin-right: 2%;
  width: auto;
  height: auto;
  top:50%;
  transform:translate(-0%, -50%);
  max-width: 47.5%;
  margin-top: 2.5%;
}
.blackboardText{
  font-family: chalkboard;
  font-size: 11px;
  font-size: 1.9vw;
  margin:7%;
  position:relative;
  z-index: 10;
  width: 86%;
}
.ItemHead{
  z-index: 10;
grid-area: header;
}
.itemMain{
grid-area: main;
}

.grid{
  display: grid;
  border-radius:20px;
  grid-template-areas:p 'header header header''main main main''main main main';
  grid-gap: 1rem;
  background: white;
}
.mainGrid{
  margin: 10px;
  border-radius:20px;
  display: grid;
  gap: 1rem;
  background: #223850;
}

.grid > div{
  background: white;
  text-align: center;
}

@media only screen and (min-width:600px){
  .NavbarButtons{
    margin-left: 15vw;
    width: 25vw;
    margin-bottom: 4x;
  }
  .link{
    margin-left: 15vw;
    width: 25vw;
    margin-bottom: 4x;
  }
.imgLeft{
  max-width: 47.5%;
}
.textboxLeft{
  max-width: 47.5%;
}
.textboxLeftBottom{
  max-width: 47.5%;
}
.imgRightBottom{
  max-width: 47.5%;
}
.textboxRight{
  max-width: 47.5%;
}
.imgRight{
  max-width: 47.5%;
}
}
@media only screen and (max-width:600px){
  .TextboxBackboard {
    max-width: 97%;
    margin-left: -.5%;
  }
  .TextboxBlackboard {
    max-width: 90%;
    margin-left: 3%;
  }
  .blackboardText{
    margin-top:10%;
    font-size: 3vw;
  }
  .NavbarButtons{
    margin-left: 20vw;
    width: 10vw;
  }
  .link{
    margin-left: 20vw;
    width: 10vw;
  }
  .black {
    display: block;
    max-width:98%;
    max-height:98%;
    width: auto;
    height: 100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  .imgLeft{
    width: 97%;
    height: auto;
    max-width: 97%;
  }
  .imgRight{
    width: 97%;
    height: auto;
    max-width: 97%;
  }
  .imgRightBottom
  {
    width: 97%;
    height: auto;
    max-width: 97%;
  }
  .textboxLeft{
    width: 97%;
    margin:1.5%;
    height: 25%;
    max-width: 97%;
  }
  .textboxLeftBottom{
    width: 97%;
    margin:1.5%;
    height: 25%;
    max-width: 97%;
  }
  .textboxRight{
    width: 97%;
    margin:1.5%;
    height: 25%;
    max-width: 97%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
